:root {
    --side_bar_color:  #313535;
    --side_bar_lead: #F8FAE5;
    --side_bar_nav_item: #F8FAE5;
    --side_bar_nav_item_hover: #E0CCBE;
    --body_color: #3c4d4e;
    --background_color: #181717;
    --text_color: #ffffff;
    --post_link_color: #38e7cd;
    --header_color: #cecece;
    --post_title_color: #ffffff;
    --post_date_color: #aaaaaa;
    --a-link-color:  #1ad285;
}