@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Gelasio|Kulim+Park|Nanum+Myeongjo|Nanum+Gothic|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');
@import url(syntax/monokai.css);
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "Roboto", "Nanum Gothic";
	--font-family-serif: "Nanum Myeongjo";

}

* {
	box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--body_color);
}

a {
	text-decoration: none;
	color: #25ad99;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
}

/*pre {*/
/*	display: block;*/
/*	overflow: auto;*/
/*	margin-bottom: 15px;*/
/*	padding-bottom: 10px;*/
/*	padding: 5px;*/
/*	line-height: 1.2;*/
/*}*/

pre {
	padding: 0.3rem;
	max-width: calc(100vw - 20rem);
	/*overflow: auto;*/
	/*tab-size: 2;*/
	word-break: normal;
	hyphens: none;
}

pre code {
	overflow-x: auto;
	white-space: pre;
	display: block;
}

code {
	font-family: "Menlo", "Consolas", monospace;
	font-size: 0.9rem;
	/*margin: 0px;*/
	/*display: inline-flex;*/
	color: #00A000;
	word-break: normal;
}

.container {
	min-height: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	background-color: var(--background_color);
}

.content {
	/*margin-left: 180px;*/
	flex: 1;
	padding: 1rem;
	/*padding: 0px 30px*/
	color: var(--text_color);
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comments {
	display: inline;
	width: min(100%, 1000px);
	padding: 10vw;
}


.sidebar {
	/*position: fixed;*/
	display: inline-flex;
	flex-flow: column nowrap;
	flex: 0 0 200px;
	/*max-width: 200px;*/
	padding: 15px;
	z-index: 1;
	background-color: var(--side_bar_color);
	color: #fff;
}

.sidebar-item {
	display: block;
}

.sidebar ul {
	list-style-type: none;
	padding-inline-start: 0;
}

.sidebar-brand > a {
	font-size: 150%;
	font-family: 'Gelasio';
	color: #fff;
}

.lead {
	font-size: 120%;
	color: var(--side_bar_lead);
}

.sidebar-header {
	margin-bottom: 50px;
}

.sidebar-nav {
	margin-top: 20px;
	display: inline-flex;
}

.nav-title {
	font-size: 80%;
	font-family: "Noto Sans";
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}

a.nav-item {
	font-size: 100%;
	font-family: "Noto Sans";
	text-transform: capitalize;
	color: var(--side_bar_nav_item);
}

a.nav-item:hover { color: var(--side_bar_nav_item_hover); }

.badge { font-size: 70%; }
.badge::before { content: "("; }
.badge::after { content: ")"; }

.post-list > li {
}

.post-link {
	margin-left: 10px;
	font-size: 110%;
	color: var(--post_link_color);
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background 1s ease-in;
	transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter, article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
#contact-list-secondary {
	padding-bottom: 10px;
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

.page-header {
	color: #e74c3c;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article {
	padding: 0 0 0;
	font-size: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	/* margin-left: 10%; */
	line-height: 1.9;
	max-width: min(100%, 800px);
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

blockquote {
	color: #828282;
	border-left: 4px solid #ccc;
	padding-left: 10px;
	margin: 0;
	margin-bottom: 15px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	font-family: "Roboto", "Nanum Gothic";
	color: var(--header_color);
	margin-bottom: 0;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

header.post-header {
	padding: 5vh 0vh 1vh 0vh;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	text-align: center;

}

header.home {
	text-align: left;
}

.post-title {
	font-size: 1.5em;
	color: var(--post_link_color);
	font-weight: bold;

}

.post-date {
	text-transform: uppercase;
	color: var(--post_date_color);
	letter-spacing: 1px;
	font-size: 0.8em;
	display: inline-block;
	width: 80px;
}

.author .author-image {
	float: left;
	margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

.sidebar-footer {
	margin-top: 80px;
	font-size: 0.75em;
	font-weight: lighter;
	font-family: "Roboto";
	line-height: 1.5;
}

.sidebar-footer a {
	color: #ccc;
}


@media (max-width: 576px) {
	article {
		font-size: 0.9em;
		line-height: 1.5;
	}

	.content {
		padding: 0.5rem;
	}
	.container {
		flex-direction: column;
	}

	.sidebar {
		font-size: 0.8em;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		height: auto;
	}

	.sidebar-nav {
		margin: 0;
	}

	.sidebar-item {
		flex: 1 1 auto;
	}

	.sidebar-header {
		margin-bottom: 0;
	}

	.sidebar-footer {
		flex: 0 0 0;
		visibility: hidden;
		display: none;
	}

	code {
		width: 90vw;

	}
}


input {
	display : none;
}
div label {
	position: relative;
	cursor: pointer;
	display :flex;
	width: 40px;
	height: 20px;
	background: #c5be9b;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50px;
	transition: 300ms linear;
}

div label:before {
	position: absolute;
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: #ffffff;
	border-radius: 50%;
	transition: left 300ms linear;
}

div input:checked + label {
	background: #000000;
}

div input:checked + label:before {
	left: 21px;
}