<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/about/">{{ site.title }}</a>
	</div>
	<p class="lead">{{ site.description }}</p>
	{%- if social.github -%}
		<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
			<svg class="svg-icon grey">
				<use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}" />
			</svg></a></li>
	{%- endif -%}
</div>

<div style="display: flex;">
	<div> 🔆 </div>
    <input type="checkbox" id="toggle-btn" onchange="toggleTheme()">
    <label for="toggle-btn"></label>
	<div>🌑</div>
</div>
<script>
	window.onload = function() {
		const savedTheme = localStorage.getItem('selectedTheme');
		
		if (savedTheme) {
			const theme = document.getElementById(savedTheme);
			
			if (theme) {
				if (savedTheme === 'theme1') {
					const tmp = document.getElementById('theme2');
					tmp.disabled = true;
					const btn = document.getElementById('toggle-btn');
					btn.checked = false;
				} else {
					const tmp = document.getElementById('theme1');
					tmp.disabled = true;
					const btn = document.getElementById('toggle-btn');
					btn.checked = true;
				}
				theme.disabled = false;
			}
		}
	};

	function toggleTheme() {
		const theme1 = document.getElementById('theme1');
		const theme2 = document.getElementById('theme2');

		if (theme1.disabled) {
			theme1.disabled = false;
			theme2.disabled = true;
			
			
			localStorage.setItem('selectedTheme', 'theme1');
		} else {
			theme1.disabled = true;
			theme2.disabled = false;
			
			localStorage.setItem('selectedTheme', 'theme2');
		}
	}
</script>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/">Blog</a>
	  </li>
	  {% assign pages_list = site.pages %}
	  {% for node in pages_list %}
	    {% if node.title != null %}
	      {% if node.layout == "page" %}
	        <li>
	        	<a class="nav-item" href="{{ node.url }}">
	            	{{ node.title }}
	            </a>
	        </li>
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	</ul>
</div>

<div class="sidebar-item sidebar-nav">
  	<ul class="nav">
			<li class="nav-title">Categories</li>
	    {% for category in site.categories %}
	    <li>
	    	<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
				<span class="name">{{ category | first }}</span>
				<span class="badge">{{ category | last | size }}</span>
	    	</a>
 		</li>
	    {% endfor %}
	  </nav>
	</ul>
</div>