$color-wenge: #66545E;
$color-beige: #F1EBE5;
$color-darkbrown: #3A241A;
$color-darkorange: #B04008;
$color-rose: #fa4251;
$color-retro-red: #c35356;
$color-retro-yellow: #eadaaa;
$color-retro-yellow-2: #e9d9a8;
$color-light: #eee7dd;
$color-aqua: #af9e89;
$color-aqua-2: rgb(213, 198, 156);
$color-darkblue: #005C78;
$color-lightblue: #a7aeb6;
$color-darkblue-2: #647b83;
$color-green-1: #708871;


$color-orange-2: #d78145;
$color-dark-brown: #948979;
$color-dark-bgr: #55524d;
$color-light-green: #c6dcc3;
$color-green-2: #96a895;
$color-light-yellow: #dfd9c2;


$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;