$color-text-dark: #2D2D2D;
$color-text-light: #FFFFFF;
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, .8);
$color-background-dark: rgba(0, 0, 0, .5);
$color-background-light: rgba(255, 255, 255, 0.103);
$fonts-body: 'Junge Regular', 'Times New Roman', Georgia, serif;

$color-yellow-bgr: #f8f0e0;
$color-dark-bgr: #1d132c;
$color-blue-text: #6aaac7;
$color-orange-text: #d6bd9e;