.contact_container {
    display: flex;
    gap: 1.5vw;
}

.contact {
    margin-left: var(--left-margin);
}

.contact_icon {
    max-height: 5vh;
}

.contact_icon:hover {
    filter: brightness(60%);
}