$fonts-heading: 'SVN Retron 2000';
$fonts-body: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts-code: Monaco, 'Lucida Console', monospace;
$color-text: rgba(0, 0, 0, .8);
$color-hover: #662549;
$color-hover-transparent: #88665f7c;
$color-meta-link-hover: #797979;
$color-box-border: #ADADAD;
$color-code-background: #272822;
$color-inline-code-background: #EAEAEA;

$color-text-dark: #2D2D2D;
$color-text-light: #FFFFFF;
$color-yellow-bgr: #f8f0e0;
$color-dark-bgr: #1d132c;
$color-blue-text: #6aaac7;
$color-orange-text: #d6bd9e;
$color-brown-text: #88665f;
