/* --- Header text feature --- */
.call-out {
  @extend %padding-header;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  text-align: center;
  color: rgba(161, 112, 6, 0.918);
  background: no-repeat var(--header-background);
  backdrop-filter: brightness(0.5);
  background-size: cover;
  background-attachment: fixed;

  h1 {
    font-family: $font-family-logo;
    @extend .subtle-txt-shadow;
  }

  /* --- Responsive --- */
  @media screen and (max-width: $m-break) {
    background-size: 170% auto;
  }

  @media screen and (max-width: 450px) {
    background-size: 200% auto;
  }

  @media screen and (max-width: 400px) {
    background-size: 250% auto;
  }

  @media screen and (max-width: 380px) {
    background-size: 280% auto;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% -50px, 0 center, center top;
}

#pre {
  text-align: left;
  margin-left: 5%;
  font-style: oblique;
}

#name {
  text-align: left;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 2.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgba(161, 112, 6, 0.918);
}

#intro {
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 1.2em;
  font-family:'Times New Roman', Times, serif;
  color:rgba(161, 112, 6, 0.918);
} 


#about {
  text-align: left;
  margin-bottom: 5%;
  font-size: 1.2em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(48, 35, 2);
}

#quote {
  text-align: right;
  margin-right: 5%;
  margin-top: 3%;
  font-size: 0.7em;
  scrollbar-highlight-color: antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color:rgba(161, 112, 6, 0.918);
} 

#tips {
  text-align: right;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 0.7em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color:rgba(71, 67, 57, 0.918);
}

/* --- Post listing --- */
.posts {
  .post-teaser {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @extend %padding-post;
    padding: 1em;
    width: 90%;
    margin-bottom: 8px;
    margin-top: 20px;
    margin-left: 5%;
    background-color: rgba(215, 231, 73, 0.521);
    border-radius: 0.8em;
    display: inline-block;
    background-size: cover;
    //border-bottom: 3px solid rgba(9, 205, 219, 0.1);


    


    p a {
      @extend .body-link;
    }

    .post-img {
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: $break) {
        height: 250px;
      }

      //Smaller screen
      @media screen and (max-width: $break) {
        height: 150px;
      }

      img {
        width: 100%;
        padding: 0;
        vertical-align: middle;
      }

    }

    .post-img img {
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s;

      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}
