.comments {
  @extend %padding-post;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

article {
  @extend .comments;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  header {
    margin-bottom: 6%;
    text-align: center;
    border-bottom: 1.5px solid rgba(148, 102, 4, 0.726);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  a:hover {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @extend .body-link;
  }

  .footnotes {
    font-size: 0.9em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(245, 218, 164, 0.726);
  }
}

.meta {
  color: var(--meta);
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* --- Post info --- */
.post-info {
  /* For border in author
  border: 1px solid var(--border);
  padding-left: 0.5em;
  */
  border-radius: 1em;
  padding-right: 0.5em;
  display: inline-flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  a {
    display: flex;
    align-items: center;
    

    img {
      height: auto;
    }

    &:hover {
      text-decoration: none;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  }

  img {
    border-radius: 1em;
    padding: 0;
    width: 1.5em;
    height: 100%;
    margin-right: 0.5em;
  }
}

/* --- Feature image --- */
.feature-image {
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  .post-link {
    color: var(--header-text);
  }

  h1.title, .post-info {
    @extend .txt-shadow;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  header {
    color: var(--header-text);
    margin-bottom: 0;
    padding: $padding-large/ $padding-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .meta {
      color: var(--header-text);
      filter: opacity(0.7);
    }
  }

  .post-content {
    @extend %padding-post;
    padding-bottom: 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  @media screen and (max-width: $break) {
    padding: $padding-large*1.5 $padding-small;
  }

  @media screen and (min-width: $break) {
    background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }
}

.post-content {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  h1 { 
    color: var(--h1); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h2 { 
    color: var(--h2); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h3 { 
    color: var(--h3); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h4 { 
    color: var(--h4); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h5 { 
    color: var(--h5); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h6 { 
    color: var(--h6); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  a {
    :visited {
      filter: saturate(0.7);
      
    }
  }
}
