<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hiimvanhg</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    <div class = "default_content">
        <h1 class = "post_title">{{ page.title }}</h1>
        <p class = "post_detail">
            {{ page.author}} - {{ page.date | date_to_string }} 
        </p>
        <div class = "img_container">
            <img src = {{page.img_title}} class = "post_img">
        </div>
        <div class = "post_content">
          {{content}}
        </div>
        
    </div>
  </body>
  <footer>
    {% include footer.html %}
  </footer>
</html>  